@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

/* emplacement de declaration des variables */
:root{
    --primary-color: #7286D3;
    --ternery-color: #FFF2F2;
    --font-poppins: 'Poppins', sans-serif;
    --font-rubik: 'Rubik Burned', system-ui;
    --font-size-default: 10px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    margin: 0;
    padding: 0;
    border: none;
    font-size: var(--font-size-default);
    font-family: serif;
}

body{
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/* traitement de la div principal */
.main{
    display: flex;
    width: 100%;
    height: 100%;
}

/* traitement du premier et deuxieme block */
.main_box{
    height: 100%;
}

/* mise en place et traitement du premier block */
.main__img{
    background: url(../img/background.svg) center top / cover;
    padding: 8rem 2rem;
    width: 40%;
}

/* traitement du logo */
.main__img h1{
    text-transform: capitalize;
    font-size: 6rem;
    color: #fff;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-weight: 800;
    font-family: var(--font-rubik);
    letter-spacing: .9rem;
}

/* traitement du deuxieme block */
.main__container{
    padding: 4rem 10rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.main__container h2{
    font-size: 3rem;
    color: #17181f;
    font-weight: 700;
    font-family: var(--font-poppins);
}

/* traitement du formulaire */
form{
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.form_box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_box a {
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: 1rem;
    font-family: var(--font-poppins);
    text-decoration: none;
}

.form_box a:hover {
    text-decoration: underline;
}

label{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #17181f;
    font-weight: 400;
    font-family: var(--font-poppins);
}

/* traitement de l'emplacement d'insertion de l'email et du mot de passe */
input{
    width: 100%;
    height: 4.5rem;
    border-radius: 1rem;
    outline: none;
    border: .15rem solid #17181f;
    padding: 0 3rem;
    font-size: 1.5rem;
    transition: all .40s;
}

input:focus{
    border: .15rem solid var(--primary-color);
}

input[type="password"]::placeholder{
    font-size: 3rem;
    font-weight: 600;
}

button{
    color: #fff;
    border: none;
    padding: 1rem 5rem;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: var(--font-poppins);
    border-radius: 1rem;
    text-transform: capitalize;
    background: var(--primary-color);
    transition: all .30s ease;
}

button:active{
    transform: scale(.9);
}

button:hover{
    box-shadow: .1rem .1rem 1rem .2rem  #17181f;
}

.main__container_other{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.other_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

span{
    font-size: 2rem;
    color: #17181f;
}

hr{
    width: 18rem;
    background: #17181f5b;
    height: .13rem;
    border: none;
}

.other_2{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    width: 100%;
}

.other_2 a {
    text-decoration: none;
}

.main__container_other .other_2 .box{
    width: 6rem;
    height: 6rem;
    background: var(--ternery-color);
    padding: .9rem;
    border-radius: 50%;
    border: .1rem solid #17181f1e;
    transition: all 1s ease;
}

.main__container_other .other_2 .box:hover{
    transform: translateY(-10px);
}

.main__container_other .other_2 img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    body {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 1.55%, rgba(0, 0, 0, 0.3) 51.18%)  ,url(../img/background.svg) center top / cover;
        overflow-x: hidden;
        padding: 4rem;
        height: 120vh;
        color: #fff;
    }

    .main__img {
        display: none;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        width: 100vw;
    }

    .main__container h2 {
        color: #fff;
        align-self: start;
    }

    .main__container form {
        width: 100%;
        height: 50%;
        padding: 0;
    }

    .main__container label {
        color: #fff;
    }

    .main__container input{
        height: 5rem;
    }

    .form_box {
        width: 100%;
    }

    hr {
        display: none;
    }

    .other_1{
        justify-content: center;
    }

    span {
        color: #fff;
        font-weight: 500;
        font-family: var(--font-poppins);
    }

    .other_2 {
        padding: 0 10rem;
    }
}

@media only screen and (max-width: 900px) {
    .other_2 {
        padding: 0 6rem;
    }
}

@media only screen and (max-width: 500px) {
    .other_2 {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 430px) {
    .other_2 {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 370px) {
    body {
        padding: 2rem;
    }
    .other_2 {
        padding: 0;
    }

    .main__container_other .other_2 .box {
        width: 5rem;
        height: 5rem;
    }
}

@media only screen and (max-width: 300px) {
    body {
        padding: 3rem 1rem;
        height: 110vh;
    }

    .main__container h2 {
        font-size: 2.2rem;
        font-weight: 700;
    }
}